[submodule "3rdparty/MinerU"]
	path = 3rdparty/MinerU
	url = https://github.com/opendatalab/MinerU.git
	branch = master
[submodule "3rdparty/FreeDeepseekAPI-ZH"]
	path = 3rdparty/FreeDeepseekAPI-ZH
	url = https://github.com/QWERDF007/FreeDeepseekAPI-ZH.git
